
<section class="flat-signin">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <h2>지원서 찾기</h2>
        <hr>
        <%= form_tag request.parameters, method: :get do %>
          <div class="form-group">
            <%= label_tag :name, "이름:" %><br>
            <%= text_field_tag :name, params[:name], required: true, class:"form-control mr-1" %><br>
          </div>
          <div class="form-group">
            <%= label_tag :email, "이메일:"%><br>
            <%= text_field_tag :email, params[:email], required: true, class:"form-control mr-1" %><br>
          </div>
          <div class="form-group">
            <%= label_tag :student_id, "학번:"%><br>
            <%= text_field_tag :student_id, params[:student_id], required: true, class:"form-control mr-1" %><br>
          </div>
          <div class="form-group">
            <%= label_tag :phone, "전화번호:"%><br>
            <%= text_field_tag :phone, params[:phone], required: true, class:"form-control mr-1" %><br>
          </div>
          <%= submit_tag "검색", class: "btn btn-primary", id: "submit-btn", style: "color: white"%>
        <% end %>
        <hr>
      </div>
      <% @applies&.each do |apply| %>
        <div class="col-md-4 offset-md-1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-name"><%= apply.name %></h4>
              <div class="card-studentid"><%= apply.email %></div>
            </div>
            <div class="card-footer password-btn">
              <%= link_to "수정", edit_recruit_apply_path(@recruit, apply), class:"btn btn-secondary btn-sm after-btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


<style>
.btn-primary:hover{
  color: #f76707 !important;
  border-color: #f76707 !important;
  background-color: #fff;
}
</style>
