<section class="flat-signin">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <div class="divider40"></div>
        <div class="wrap-sign-in center">
          <h3>과제 만들기</h3>
          <hr>
          <div class="assignment-form">
            <%= form_for(@assignment, url: assignments_path, method: :post) do |f| %>
              <ul>
                <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
                  <div class="assignment-inner">
                    <div class="assignment-title assignment-label">제목:</div>
                    <div class="assignment-input-wrap">
                      <%= f.text_field :title, required: true %>
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
                  <div class="assignment-inner">
                    <div class="assignment-content assignment-label">설명:</div>
                    <div class="assignment-input-wrap">
                      <%= f.text_field :content, required: true %>
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
                  <div class="assignment-inner">
                    <div class="assignment-submit-time assignment-label">마감 시간:</div>
                    <div class="assignment-input-wrap">
                      <%= f.datetime_field :end_at, min: Date.today, required: true %>
                    </div>
                  </div>
                </li>
                <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
                  <div class="assignment-inner">
                    <div class="assignment-submit-time assignment-label">과제 이미지:</div>
                    <div class="assignment-input-wrap">
                      <%= f.file_field :image %>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="divider20"></div>
              <div class="btn-submit">
                <button type="submit" name="commit" class="bg-black">과제 생성</button>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>