<section id="main-blog" class="single">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-post">
          <article class="blog-post single style1">
            <div class="entry-post-title">
              <div class="post-title">
                <h2>
                  <a href="#" title=""><%= @assignment.title %></a>
                </h2>
              </div>
              <div class="post-date">
                기한 : <%= @assignment.end_at.strftime('%m월 %d일 %H시 %M분 까지') %>
              </div>
            </div><!-- /.entry-post-title -->
            <div class="featured-post">
              <%= image_tag(@assignment.image_url, style: "width:400px; height:400px") %>
            </div><!-- /.featured-post -->
            <div class="content-post">
              <blockquote>
                <p><%= @assignment.content&.html_safe %></p>
              </blockquote>

              <br><br>
              <div class="right">
                <% if @assignment&.file.present? %>
                  <i class="fa fa-download" aria-hidden="true"></i> 첨부 파일: <%= link_to "#{File.basename(@assignment.file.path)}", downloads_assignment_path(id: @assignment.id) %>
                <% end %>
              </div>
            </div><!-- /.content-post -->
          </article><!-- /.blog-post -->
          <div class="main-single">
            <div class="form-submit right">
              <%= link_to("과제 목록", assignments_path, class:"btn btn-lg btn-outline-primary")%>
              <%= link_to("제출 목록", assignment_submissions_path(@assignment), class:"btn btn-lg btn-outline-primary") %>
              <% if @assignment.start_at <= Time.current && @assignment.end_at >= Time.current %>
                <%= link_to("과제 내기", new_assignment_submission_path(@assignment), class:"btn btn-lg btn-primary") %>
              <% else %>
                <%= link_to("과제 내기", "#", class:"btn btn-lg btn-primary no_homework") %>
              <% end %>
            </div>
          </div><!-- /.main-single -->
        </div><!-- /.wrap-post -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /#main-blog -->

<script type="text/javascript">
  $('.no_homework').on('click', function(e){
    console.log('good');
    e.preventDefault();
    alert('현재 등록된 과제가 없거나 제출기한이 지났습니다.');
  });
</script>