<%= render 'shared/page_title', title: '동국대학교 멋쟁이 사자처럼', subtitle: '강의 게시판' %>


<div class="container my-5">
  <div class="make-lecture mb-3">
    <%= link_to "글 쓰기", new_lecture_path, class:"btn btn-primary" %>
  </div>

  <div class="row">
    <% @lectures.each do |lecture| %>
      <div class="col-md-3">
        <div class="card">
          <%= link_to(lecture_path(lecture)) do %>
            <%= image_tag(lecture.image_url, style: "width: 100%")%>
            <div class="card-body">
              <%= lecture.title %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
