<div class="container">
  스터디 자료 작성
  <div class="card p-5 col-md-6 offset-md-3">
    <%= form_for(@lecture, url: lectures_path, method: :post) do |f| %>
      <ul>
        <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
          <div class="assignment-inner">
            <div class="assignment-title assignment-label">제목:</div>
            <div class="assignment-input-wrap">
              <%= f.text_field :title, required: true %>
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
          <div class="assignment-inner">
            <div class="assignment-content assignment-label">내용:</div>
            <div class="assignment-input-wrap">
              <%= f.text_area :content, required: true, 'data-provider': :summernote %>
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
          <div class="assignment-inner">
            <div class="assignment-submit-time assignment-label">사진 추가:</div>
            <div class="assignment-input-wrap">
              <%= f.file_field :image %>
            </div>
          </div>
        </li>
      </ul>
      <%= f.submit "생성하기", class: "button button-full", style:"color: #fff;" %>
    <% end %>
  </div>
</div>
