<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @lecture.image_url, class: "img-fluid"%>
    </div>
    <div class="col-md-8">
      <h4><%= @lecture.title %></h4>
      <p><%= simple_format @lecture.content %></p>
    </div>
  </div>

  <div class="comment-form my-5">
    <h4>댓글 작성</h4>
    <%= form_for(@comment, url: comments_path, method: :post) do |f| %>
      <%= f.hidden_field :commentable_id, value: @lecture.id %>  <%# 히든으로 상위 모델의 id 값과 type 값을 넘겨주면 %>
      <%= f.hidden_field :commentable_type, value: @lecture.class.name %>

      <%= f.text_area :body %>
      <%= f.submit "댓글 달기", class: "button button-fill my-2"%>
    <% end %>
  </div>

  <div class="comment-show">
    <hr>
    <% @comments.each do |comment| %>
      <div class="content-box">
        <div class="user-comment">
          <div class="row">
            <div class="col-30">
              <%= image_tag(User.find(comment.user_id).thumbnail_url, style:"width: 50px") %>
              <%= User.find(comment.user_id).name %>
            </div>
            <div class="col" style="color: #aaa;">
              <%= time_ago_in_words(comment.created_at) %> 전
            </div>
          </div>
          <div class="conetent-text">
            <p><%= simple_format comment.body %></p>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>

<%= paginate @comments %>

<style>
  .pagination{
    justify-content: center;
  }
</style>

<script type="text/javascript">

</script>