<section class="flat-signin">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-sign-in center">
          <h2>회원가입</h2>
          <hr>
          <div class="form-sign-in">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
              </div><br />

              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autocomplete: "email" %>
              </div><br />

              <div class="form-group">
                <%= f.label :student_id %>
                <%= f.text_field :student_id, maxlength: 10 %>
              </div><br />

              <div class="form-group">
                <%= f.label :phone %>
                <%= f.text_field :phone, autocomplete: "phone" %>
              </div><br />


              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div><br />

              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div><br />

              <div class="form-group">
                  <%= f.label :info %>
                <%= f.text_area :info, autofocus: true %>
              </div>

              <div class="btn-submit">
                <button type="submit" name="commit" class="bg-black">회원가입</button>
              </div>
            <% end %>
            <%= link_to "로그인 하러가기", new_user_session_path, class: "button button-full" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
.wrap-sign-in{
  padding-top:80px;
}
</style>