<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="flat-title">
				<h3><strong>동대 멋사 소개</strong></h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tab-about style1">
				<ul class="tab-list-about">
					<li class="active">소개 1</li>
					<li>소개 2</li>
					<li>소개 3</li>
					<li>소개 4</li>
					<li>소개 5</li>
				</ul><!-- /.tab-list style1 -->
				<br>
				<div class="content-tab">
					<div class="content-inner overflow">
						<div class="one-half col-md-6">
							<div class="image-tabs">
								<%= image_tag('/images/test_image1.jpg', class:"border-radius-5", style:"width: 100%; height: 300px;")%>
							</div>
						</div><!-- /.one-half -->
						<div class="one-half col-md-6">
							<div class="text-tabs"><br>
								<h4>매년 높아지는 경쟁률</h4>
								<div class="text-content">
									<p>동국대 멋사의 지원 경쟁률은 매년 상승하는 중</p>
									<p>동국대 멋쟁이사자처럼은 3기부터 시작되었습니다.
				선배 동국대 멋사 일원들의 열정과 희생으로 탄탄한 교육과 성장을 이루어졌고, 이를 바탕으로 2018년에는 3.8:1 이라는 높은 서류, 면접 경쟁률을 달성하였습니다.</p>
									
								</div><!-- /.text-content -->
							</div><!-- /.text-tabs -->
						</div><!-- /.one-half -->
					</div><!-- /.content-inner -->
					<div class="content-inner overflow">
						<div class="one-half col-md-6">
							<div class="image-tabs">
								<%= image_tag('/images/test_image2.jpg', class:"border-radius-5", style:"width: 100%; height: 300px;")%>
							</div>
						</div><!-- /.one-half -->
						<div class="one-half col-md-6">
							<div class="text-tabs"><br>
								<h4>대학 연합 행사</h4>
								<div class="text-content">
									<h4>매년 높아지는 경쟁률</h4>
									<p>뉴비톤, 헤커톤, 아이디어톤 등 다양한 행사를 경험 할 수 있습니다.</p>
									<p>스스로 만들어보는 나만의 프로젝트!</p>
									<div class="read-more">
										<a href="#" class="box-shadow-1" title="">READ MORE</a>
									</div>
								</div>
							</div><!-- /.text-tabs -->
						</div><!-- /.one-half -->
					</div><!-- /.content-inner -->
					<div class="content-inner overflow">
						<div class="one-half col-md-6">
							<div class="image-tabs">
								<%= image_tag('/images/test_image3.jpg', class:"border-radius-5", style:"width: 100%; height: 300px;")%>
							</div>
						</div><!-- /.one-half -->
						<div class="one-half col-md-6">
							<div class="text-tabs"><br>
								<h4>다양한 친목 활동</h4>
								<div class="text-content">
									<p>엠티, 소풍, 친해지길 바래 등 다양한 친목 활동을 통해 내부 결속을 강화합니다.</p>
									<p>엠티 가서도 코딩을 할 수 있습니다.</p>
									<div class="read-more">
										<a href="#" class="box-shadow-1" title="">READ MORE</a>
									</div>
								</div>
							</div><!-- /.text-tabs -->
						</div><!-- /.one-half -->
					</div><!-- /.content-inner -->
					<div class="content-inner overflow">
						<div class="one-half col-md-6">
							<div class="image-tabs">
								<%= image_tag('/images/test_image4.jpg', class:"border-radius-5", style:"width:100%; height: 300px;")%>
							</div>
						</div><!-- /.one-half -->
						<div class="one-half col-md-6">
							<div class="text-tabs"><br>
								<h4>확실한 교육</h4>
								<div class="text-content">
									<p>비전공자를 대상으로 제대로 알려드립니다</p>
									<p>누구나 자신의 서비스를 실현하고 싶어합니다. 저희 동국대 멋쟁이사자처럼 운영진은 이를 실현하는 것을 도와드리기 위해, 최선을 다 할 것입니다.</p>
									<div class="read-more">
										<a href="#" class="box-shadow-1" title="">READ MORE</a>
									</div>
								</div>
							</div><!-- /.text-tabs -->
						</div><!-- /.one-half -->
					</div><!-- /.content-inner -->
					<div class="content-tab">
					<div class="content-inner overflow">
						<div class="one-half col-md-6">
							<div class="image-tabs">
								<%= image_tag('/images/test_image1.jpg', class:"border-radius-5", style:"width: 100%; height: 300px;")%>
							</div>
						</div><!-- /.one-half -->
						<div class="one-half col-md-6">
							<div class="text-tabs"><br>
								<h4>새로워진 멋사</h4>
								<div class="text-content">
									<p>코딩 + 창업 동아리</p>
									<p>1학기에는 코딩을 배우고, 2학기에는 창업을 배운다.</p>
									
								</div><!-- /.text-content -->
							</div><!-- /.text-tabs -->
						</div><!-- /.one-half -->
					</div><!-- /.content-inner -->
				</div><!-- /.content-tab -->
			</div><!-- /.tab-about style1 -->
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</div><!-- /.container -->
