<section class="flat-team style5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-title">
					<h3><strong>8기 운영진 소개</strong></h3>
				</div>
			</div>
		</div>
		<div class="row">
      <%= render "shared/mentor_type", users: @president %>
      <%= render "shared/mentor_type", users: @vice_president %>
      <%= render "shared/mentor_type", users: @education %>
      <%= render "shared/mentor_type", users: @promotion %>
      <%= render "shared/mentor_type", users: @HI_SW %>
      <%= render "shared/mentor_type", users: @affairs %>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-team -->
