<br><br><br><br>
<%= render "shared/home_banner" %>

<div class="container full-width">
	<div class="row">
		<%= link_to(assignments_path) do %>
		<div class="col-md-4" >
				<div class="iconbox center style1 v1 no-border background-blue color-white info-1">
					<div class="box-header">
						<div class="icon">
							<span class="font-size-48"><i class="fas fa-book-open" style="color: #fff;"></i></span>
							<span class="two font-size-48"><i class="fas fa-book-open" style="color: #5a596a"></i></span>
						</div>
						<span>
						<div class="box-title">
							<p><%= link_to("과제", assignments_path) %></p>
						</div>
						</span>
					</div><!-- /.box-header -->
					<div class="box-content">
						<div class="more-link">
							<%= link_to("보러가기", assignments_path, style:"color: white;") %>
						</div>
					</div><!-- /.box-content -->
				</div><!-- /.iconbox style1 -->
		</div><!-- /.col-md-4 -->
		<% end %>
		<div class="col-md-4" >
			<%= link_to(lectures_path) do %>
				<div class="iconbox center style1 v1 background info-1">
					<div class="box-header">
						<div class="icon">
							<span class="ti-desktop font-size-48"></span>
							<span class="ti-desktop two font-size-48"></span>
						</div>
						<div class="box-title">
							<%= link_to("강의", lectures_path) %>
						</div>
					</div><!-- /.box-header -->
					<div class="box-content">
						<div class="more-link">
							<%= link_to("보러가기", lectures_path) %>
						</div>
					</div><!-- /.box-content -->
				</div><!-- /.iconbox style1 -->
			<% end %>
		</div><!-- /.col-md-4 -->
		<div class="col-md-4" >
			<%= link_to(galleries_path) do %>
				<div class="iconbox center style1 v1 no-border color-white overlay-02 info-1" style="background: #e2ad89">
					<div class="box-header">
						<div class="icon">
							<span class="font-size-48"><i class="far fa-image font-size-48" style="color:#fff;"></i></span>
							<span class="two font-size-48"><i class="far fa-image font-size-48" style="color:rgb(185, 137, 143);"></i></span>
						</div>
						<div class="box-title">
							<%= link_to("갤러리", galleries_path) %>
						</div>
					</div><!-- /.box-header -->
					<div class="box-content">
						<div class="more-link">
							<%= link_to("보러가기", galleries_path, style:"color: white;") %>
						</div>
					</div><!-- /.box-content -->
				</div><!-- /.iconbox style1 -->
			<% end %>
		</div><!-- /.col-md-4 -->
	</div><!-- /.row -->
</div><!-- /.container full-width -->


<div class="divider50"></div>

<%= render "shared/dgu_info" %>

<%= render 'shared/mentor_info' %>

<style>
	.row-box .info-box.info-text {
		height: 100% !important;
	}

	.iconbox.style1.v1:hover .box-header a {
		color: white !important;
	}
</style>