<%= render 'shared/navbar' %>

<div class="container">
  스터디 자료 작성
  <div class="card col-md-6 offset-md-3">
    <%= form_for(@study, url: studies_path, method: :post) do |f| %>
      <ul>
        <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
          <div class="assignment-inner">
            <div class="assignment-title assignment-label">제목:</div>
            <div class="assignment-input-wrap">
              <%= f.text_field :title %>
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
          <div class="assignment-inner">
            <div class="assignment-content assignment-label">내용:</div>
            <div class="assignment-input-wrap">
              <%= f.text_area :content %>
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
          <div class="assignment-inner">
            <div class="assignment-submit-time assignment-label">사진 추가:</div>
            <div class="assignment-input-wrap">
              <%= f.file_field :study_images %>
            </div>
          </div>
        </li>
      </ul>
      <%= f.submit "생성하기", class: "button button-full" %>
    <% end %>
  </div>
</div>


<%= render 'shared/footer' %>