
<section class="flat-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wrap-sign-in center">
          <h3><%= ((action_name == 'new') ? assignment.title : submission.title) %></h3><hr>
          <div class="form-sign-in">
            <%= form_for(submission, url: path) do |f| %>
              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, autofocus: true, autocomplete: "off", required: true %>
              </div>
              <div class="divider-50"></div>
              <div class="form-group">
                <%= f.label :url %>
                <%= f.text_field :url, autofocus: true %>
              </div>
              <div class="divider-50"></div>
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, style: "text-align: left;" %>
              </div>
              <div class="divider-50"></div>
              <div class="btn-submit">
                <button type="submit" name="commit" class="bg-black"><%= ((action_name == 'new') ? '생성하기' : '수정하기') %></button>
              </div>

            <% end %>
          </div><!-- /.form-sign-in -->
        </div><!-- /.wrap-sign-in -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-singin -->

<style>
.wrap-sign-in{
  padding-top: 80px;
}
</style>

<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
        reader.onload = function (e) {
          $('img').attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
  }
  $('input').on('change', function(){
    readURL(this);
  });
</script>