<section class="flat-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="divider40"></div>
          <div class="wrap-sign-in center">
          <h3><%= @submission.title %> 수정</h3>
          <div class="form-sign-in">
            <%= form_for(@submission, url: assignment_submissions_path(@assignment), method: :post) do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, autofocus: true, autocomplete: "off", required: true %>
            </div>
            <div class="form-group">
              <%= image_tag "/images/test_image3.jpg", class: "represent_image", id: "represent_image_display", alt: "", style:"align: center;"%>
              <%= f.file_field :image, id: 'image-update', style: "display: none;" %>
              <label for="image-update" class="icon-upload">대표이미지 첨부</label> <br>
            </div>
            <div class="form-group">
              <%= f.label :url %>
              <%= f.text_field :url, autofocus: true, autocomplete: "off", required: true %>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, autofocus: true, required: true %>
            </div>

            <div class="btn-submit">
              <button type="submit" name="commit" class="bg-black">제출하기</button>
            </div>

            <% end %>
          </div><!-- /.form-sign-in -->
        </div><!-- /.wrap-sign-in -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-singin -->

<style>
	
</style>

<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
        reader.onload = function (e) {
          $('img').attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
  }
  $('input').on('change', function(){
    readURL(this);
  });
</script>