


<section id="main-blog" class="single">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-post">
          <article class="blog-post single style1">
            <div class="entry-post-title">
              <div class="top-post">
                <%= @submission&.user&.name %>
              </div>
              <div class="post-title">
                <h2>
                  <%= @submission&.title %>
                </h2>
              </div>
              <div class="post-date">
                <%= @submission&.created_at.strftime('%m월 %d일 %H시 %M분 제출') %>
              </div>
            </div><!-- /.entry-post-title -->

            <%# <div class="wish-icon" id="wish-toggle"> %>
              <%#= render 'shared/wish', submission: @submission %>
            <%# </div> %>
            <div class="content-post">
              <% if @submission.url.present? %>
                <b>URL : </b> <%= target_blank_link(@submission.url) %>
                <br><br>
              <% end %>
              <% attach = ActiveStorage::Attachment.where(record_id: @submission.id) %>
              <b>FILE : </b>
              <% attach.each do |a| %>
                <% blob = ActiveStorage::Blob.find(a.blob_id) %>
                <% if blob.content_type != "image/jpeg" && blob.content_type != "image/png" && blob.content_type != "image/jpg" && blob.content_type != "image/gif" %>
                  <%= link_to "#{blob.filename}", rails_blob_path(blob, disposition: 'attachment') %>
                <% end %>
              <% end %>
              

              <p class="pre-line mt-5"><%= @submission&.description %></p>

              

              <div class="main-single">
                <div class="form-submit right">
                  <a href="<%= assignment_submissions_path(@assignment) %>" class="btn btn-lg btn-outline-primary">목록</a>
                </div>
              </div><!-- /.main-single -->
            </div><!-- /.content-post -->
            
            <div class="direction">
              <% if @user.mentor? || @user == @submission.user %>
                <div class="tags">
                  <%= link_to "수정", edit_assignment_submission_path(@assignment, @submission) %>
                  <% if @user.mentor? %>
                    <%= link_to "삭제", assignment_submission_path(@assignment, @submission), method: :delete, data: {confirm: "정말 삭제하시겠습니까?"} %>
                  <% end %>
                </div>
              <% end %>
              <div class="social">
                <div class="comment">
                  <i class="fa fa-comments-o" aria-hidden="true"></i> <span class="comments-count"><%= @comments.count %></span>
                </div>
              </div><!-- /.social -->
            </div><!-- /.direction -->
          </article><!-- /.blog-post -->

          <div class="main-single">
            <div id="comments" class="comment-area">
              <h5 class="comment-title"><span class="comments-count"><%= @submission.comments.count %></span> Comments</h5>
              
              <ol class="comment-list">
                <% @comments.each do |comment| %>
                  <%= render comment %>
                <% end %>
              </ol>
              <%= paginate @comments %>
              
              <div id="respond" class="comment-respond">
                <h5 id="reply-title" class="comment-reply-title">댓글 달기</h5>
                <%= form_for(@comment, class: "comment-form", remote: true) do |f| %>
                  <!-- <form action="#" method="post" class="comment-form"  accept-charset="utf-8"> -->
                  <div class="comment-form">
                    <fieldset class="field-message">
                      <%= f.hidden_field :commentable_id, value: @submission.id %>
                      <%= f.hidden_field :commentable_type, value: @submission.class %>
                      <%= f.text_area :body, placeholder: "댓글 달기...", required: true %>
                    </fieldset>
                    <div class="clearfix"></div>
                    <div class="form-submit">
                      <button type="submit">작성 하기</button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div><!-- /.wrap-post -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /#main-blog -->




<style>
  .pagination{
    justify-content: center;
  }
  .submission-image{
    width: 300px;
  }
</style>