<% datelist.each do |date, galleries| %>
  <div class="image-date my-3">
    <h4><%= date %></h4>
  </div>
  <div class="row">
    <% galleries.each do |gallery| %>
      <div class="card col-md-3 mb-4 tag_image">
        <%= image_tag((gallery.image.url(:thumb) if gallery.image?), class:"card-img-top") %>
        <% gallery.tag_list.each do |tag| %>
          <%= link_to galleries_path(tags: tag), remote: true do %>
            <p class="tag_name <%= tag %>" id= "<%= tag %>">#<%= tag %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>