<%= render 'shared/page_title', title: '동국대학교 멋쟁이 사자처럼', subtitle: '갤러리' %>


<div class="container my-5">

  <div class="row">
    <div class="col-12 mb-2">
      <div class="float-left">
        <h2>
          갤러리
        </h2>
      </div>
      <div class="float-right">
        <%= link_to(new_gallery_path, style:"font-size: 48px;") do %>
          <i class="far fa-plus-square"></i>
        <% end %>    
      </div>
    </div>
    
    <hr>
  </div>
  
  <ul class="image-list">
    <% @datelist.each do |date, galleries| %>
      <div class="image-date my-3">
        <h4><%= date %></h4>
      </div>
      <div class="row">
        <% galleries.each do |gallery| %>
          <div class="card col-md-3 mb-4 tag_image">
            <%= image_tag((gallery.image.url(:thumb) if gallery.image?), class:"card-img-top") %>
            <% gallery.tag_list.each do |tag| %>
              <%= link_to galleries_path(tags: tag) do %>
                <p class="tag_name <%= tag %>" id= "<%= tag %>">#<%= tag %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>

