<section class="flat-signin">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <div class="divider40"></div>
        <div class="wrap-sign-in center">
          <h2>갤러리 사진 추가</h2>
          <hr>
          <div class="assignment-form">
            <%= form_for(@gallery, url: galleries_path, method: :post, remote: true) do |f| %>
              <ul>
                <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
                  <div class="field">
                    <label for="image-update" class="icon-upload">
                      <%= image_tag("/images/photo.png", for:"image-update", class: "icon-upload represent_image", id: "represent_image_display", alt: "" ) %>
                    </label>

                    <%= f.file_field :image, id: 'image-update',class:"flat-button-form", style:"display:none" %><br>


                    <%= f.label :tag_list %>
                    <%= f.text_field :tag_list, class:"form-control", placeholder: "콤마( , )로 tag 구분해주세요."%>
             
                  </div>
                </li>
              </ul>
              <div class="divider20"></div>

              <div class="error-msg">
                <%= render "shared/errors", resource: @gallery %>
              </div>

              <div class="btn-submit" id="submit-button">
                <button type="submit" class="bg-black">사진 올리기</button>
              </div>
              <div id="spinner-button" class="btn-submit">
                <button class="btn btn-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $('#spinner-button').hide();

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
        reader.onload = function (e) {
          $('img').attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
  }
  $('input').on('change', function(){
    readURL(this);
  });


  $('#submit-button').on("click",function() {
    $('#submit-button').hide();
    $('#spinner-button').show();
  })
  
</script>