<%= render 'shared/page_title', title: '동국대학교 멋쟁이 사자처럼', subtitle: '갤러리' %>


<div class="container my-5">

  <div class="row">
    <div class="col-12 mb-2">
      <div class="float-left">
        <h2>
          갤러리
        </h2>
      </div>
      <div class="float-right">
        <%= link_to(new_gallery_path, style:"font-size: 48px;") do %>
          <i class="far fa-plus-square"></i>
        <% end %>    
      </div>
      <%= form_for request.parameters, url: gallery_path, method: :get do %>
        <div class="form-inline float-left">
          <%= text_field :q, params[:q], class:"form-control mr-1" %>
          <%= submit "검색", class:"btn btn-primary mr-1"%>
        </div>
      <% end %>
    </div>
    
    <hr>
  </div>
  
  <ul class="image-list">
    <% @datelist.keys.each do |date| %>
      <div class="image-date my-3">
        <h4><%= date %></h4>
      </div>
      <div class="row">
        <% @datelist[date].each do |image| %>
          <div class="card col-md-3 mb-4">
            <%= image_tag((image.image.url(:thumb) if image.image?), class:"card-img-top") %>
            <% image.tags.each do |tag| %>
              <p><%= link_to "##{tag.name}", "#" %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>

<img id="myImg" src="/images/dgu-logo.jpg" alt="Snow" style="width:100%; max-width:300px">

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>


<style>
  
</style>

<script>

</script>
